// General Button
.btn {
  border-radius: 10rem;
  border: none;
  padding: 1rem 1.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  transition: all 0.3s;
  background-size: 220%;
  background-position: 100%;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  @include d-flex-row;

  // Button groups
  &-list {
    @include d-flex-row;
  }

  // HOVERED BUTTON
  &:hover {
    background-position: 0%;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  //  Active State
  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  // Primary Button
  &__primary {
    padding: 1.7rem 2.5rem;
    color: $color-white;
    background-color: $color-primary;
    font-weight: 700;
    overflow: hidden;

    background-image: linear-gradient(
      60deg,
      $color-white 50%,
      $color-primary 50%
    );

    &:hover {
      color: $color-black;
    }
  }

  // Ghost variant
  &__ghost {
    font-size: 1.4rem;
    padding: 0.7rem 1.2rem;
    border: 2px solid $color-primary;
    font-weight: 600;
    background-image: linear-gradient(
      60deg,
      $color-primary 50%,
      transparent 50%
    );
  }

  &__menu {
    background-color: transparent;
    font-weight: 700;
    padding: 1rem 2.6rem;
    border: 1px solid rgba($color-black, 0.2);

    &:hover,
    &active {
      box-shadow: none;
    }

    // Active State
    &--active {
      background-color: $color-primary;
      color: $color-white;
      border: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      &:hover {
        box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      }
    }
  }
}
