.section-counter {
  padding: $body-padding;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-content: space-evenly;
  background-image: linear-gradient(
      to right,
      rgba($color-black, 0.6),
      rgba($color-black, 0.6)
    ),
    url(../../assets/counter_bg.jpg);
  background-attachment: fixed;
  color: $color-white;

  @include respond(md) {
    padding-inline: $body-padding-md;
  }
  @include respond(tab) {
    grid-template-columns: 1fr 1fr;
  }
  @include respond(phone) {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

.counter {
  @include d-flex-column;
  font-size: 1.6rem;
  text-align: center;

  &__shape {
    > svg {
      font-size: 5rem;
      color: $color-primary;
    }
  }

  &__number {
    font: 700 6rem $font-secondary;
  }

  &__name {
    font-size: 2rem;
    font-weight: 500;
  }
}
