.section-counter {
  padding: $body-padding;
  @include d-flex-row;
  justify-content: space-evenly;
  background-image: linear-gradient(
      to right,
      rgba($color-black, 0.6),
      rgba($color-black, 0.6)
    ),
    url(../../assets/counter_bg.jpg);
  background-attachment: fixed;
  color: $color-white;
}

.counter {
  @include d-flex-column;
  font-size: 1.6rem;

  &__shape {
    > svg {
      font-size: 5rem;
      color: $color-primary;
    }
  }

  &__number {
    font: 700 6rem $font-secondary;
  }

  &__name {
    font-size: 2rem;
    font-weight: 500;
  }
}
