.footer {
  width: 100%;
  position: relative;
  @include d-flex-column;
  padding: $body-padding;
  padding-bottom: 10rem;
  background-color: $color-black--light;
  color: $text-light;
  font-size: 1.6rem;
  font-family: $font-secondary;

  @include respond(md) {
    padding: $body-padding-md;
  }
  @include respond(phone) {
    padding-inline: $body-padding-sm;
  }

  // Div containing all content elements
  &__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 170%;

    @include respond(phone-lg) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 3rem;
    }

    // Giving Equal Width to all children
    > * {
      flex: 1 1 0;
    }

    &--1 {
      @include d-flex-column;
      align-items: flex-start;
      gap: 2rem;

      @include respond(phone-lg) {
        align-items: center;
      }
    }
  }

  // Primary Footer Logo
  &__logo {
    > img {
      max-width: 26rem;
    }
  }

  // Shop Address
  &__address {
    margin-right: 10rem;
    @include respond(phone-lg) {
      margin-right: 0;
    }
  }

  // Social Media Icons
  &__links {
    @include d-flex-row;
    justify-content: flex-start;

    @include respond(phone-lg) {
      justify-content: center;
    }

    &--item {
      border-radius: 50%;
      border: 1px solid $color-border-2;
      width: 4rem;
      aspect-ratio: 1;
      display: grid;
      place-content: center;
      transition: background-color 0.4s;
      > svg {
        font-size: 2rem;
        color: $color-white;
      }
      &:hover {
        background-color: $color-secondary;
        border: none;
      }
    }
  }

  // Headings for ul lists
  &__heading {
    color: $color-white;
    margin-bottom: 2rem;
    font: 600 2.6rem $font-primary;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;

    @include respond(phone-lg) {
      align-items: center;
    }

    &--active {
      color: $color-white;
      font-weight: 500;
    }

    &--close {
      color: $color-secondary;
      font-family: 500;
    }
  }

  &__item {
    width: fit-content;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__content--2 .footer__item {
    transition: all 0.3s;

    &:hover {
      color: $color-white;
      cursor: pointer;
      transform: translateX(1rem);
    }

    &:before {
      content: "\25B6";
      margin-right: 1rem;
      font-size: 1.4rem;
    }
  }

  // Copyright Section
  &__copyright__wrap {
    margin-top: 4rem;
    @include d-flex-row;
    width: 100%;
  }
  &__copyright {
    margin-inline: 2rem;
    a {
      text-transform: capitalize;
      color: $color-primary;
      text-decoration: none;
    }
  }

  // Floating Shapes

  &__shape {
    position: absolute;

    @include respond(landscape) {
      width: 15rem;
    }
    @include respond(phone) {
      width: 12rem;
    }

    &--1 {
      bottom: 15%;
      left: 0%;
    }
    &--2 {
      top: 10%;
      right: 0;
    }
    &--3 {
      right: 5%;
      top: 50%;
    }
  }
}

.line {
  flex: 1 1 0;
  width: 100%;
  height: 1px;
  background-color: #2e2e2e;
}
