.header {
  //General Styles
  display: flex;
  @include d-flex-row;
  justify-content: space-around;
  padding-block: 1rem;
  padding-inline: 1rem;
  gap: 2rem;
  background-color: $header-color;
  border-bottom: 1px solid $header-border-color;

  @media screen and (max-width: 710px) {
    justify-content: initial;
  }

  &__info {
    @include d-flex-row;
    gap: 1.5rem;

    &--phone,
    &--cart {
      aspect-ratio: 1;
      width: 5rem;
      @include d-flex-column;
      border-radius: 50%;
      color: white;
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 1.6rem;
        width: 3rem;
      }
    }
    &--phone {
      background-color: $color-secondary;
      @media screen and (max-width: 710px) {
        display: none;
      }
    }
    &--cart {
      background-color: $color-primary;
    }
  }

  // Header Logo | Primary Logo
  &__logo {
    width: 15rem;
    @include respond(phone) {
      width: 10rem;
    }

    // Header logo box
    &-box {
      @media screen and (max-width: 710px) {
        //margin right is set to auto to move remaining items to the other side of the screen
        margin-right: auto;
      }
    }
  }
}

// Main Navigation List
.primary-nav {
  @media screen and (max-width: 710px) {
    display: none;
    position: absolute;
    top: 9rem;
    left: 0;
    width: 100%;
    text-align: left;
  }

  &[data-visible="true"] {
    display: block;
  }

  // ul list of nav
  &__list {
    @include d-flex-row;
    list-style: none;
    gap: 2.5rem;
    @media screen and (max-width: 710px) {
      flex-direction: column;
      background-color: #efefef;
    }
  }

  // li items of nav list
  &__item {
    font-size: 1.6rem;
    text-transform: uppercase;

    // link items
    > a {
      text-decoration: none;
      color: $color-black;
      font-weight: 700;
      transition: color 0.3s;

      @media screen and (max-width: 710px) {
        padding: 1rem;
        display: block;
      }

      &:hover {
        color: $color-secondary;
      }
    }
  }
}

.phone-info {
  @media screen and (max-width: 710px) {
    display: none;
  }
  @include d-flex-column;
  align-items: flex-start;

  &__title {
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__number {
    font-size: 2rem;
    text-decoration: none;
    color: $color-black;
    font-weight: 700;
  }
}

.nav-toggle {
  display: none;
  background-color: transparent;
  border: none;
  place-content: center;

  > svg {
    font-size: 3rem;
    @include respond(phone) {
      font-size: 2rem;
    }
  }
  @media screen and (max-width: 710px) {
    display: grid;
  }
}
