@mixin d-flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@mixin d-flex-column {
  @include d-flex-row;
  flex-direction: column;
}

@mixin grid-2-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

// Media Queries
@mixin respond($breakpoint) {
  @if $breakpoint == phone-sm {
    @media screen and (max-width: $m-phone-sm) {
      @content;
    }
  }
  @if $breakpoint == phone {
    @media screen and (max-width: $m-phone) {
      @content;
    }
  }
  @if $breakpoint == phone-lg {
    @media screen and (max-width: $m-phone-lg) {
      @content;
    }
  }
  @if $breakpoint == tab {
    @media screen and (max-width: $m-tab) {
      @content;
    }
  }
  @if $breakpoint == tab-md {
    @media screen and (max-width: $m-tab-md) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media screen and (max-width: $m-tab-lg) {
      @content;
    }
  }
  @if $breakpoint == lcd-mini {
    @media screen and (max-width: $m-lcd-mini) {
      @content;
    }
  }

  @if $breakpoint == landscape {
    @media screen and (max-width: $m-landscape) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media screen and (max-width: $m-md) {
      @content;
    }
  }
}
