// HERO SECTION
.hero {
  padding-inline: $body-padding;
  @include grid-2-cols;
  background-color: $header-color;
  padding-top: 5rem;
  padding-bottom: 20rem;
  overflow: hidden;

  @include respond(md) {
    padding-inline: $body-padding-md;
  }
  @include respond(phone-lg) {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  @include respond(phone) {
    padding-inline: $body-padding-sm;
  }

  // HERO CONTENT BOX
  &__content-box {
    @include d-flex-column;
    align-items: flex-start;
    gap: 3rem;

    @include respond(phone-lg) {
      text-align: center;
      align-items: center;
    }
  }

  // HERO TAG
  &__tag {
    background-color: $color-secondary;
    color: $color-white;
    padding: 0.7rem;
    clip-path: polygon(0 0, 100% 0, 95% 50%, 100% 100%, 0 100%);
    text-transform: capitalize;
    font-size: 1.8rem;
    padding-inline: 2rem;
    padding-right: 4rem;
    font-weight: 500;

    @include respond(phone) {
      font-size: 1.6rem;
    }
    @include respond(phone-sm) {
      font-size: 1.2rem;
    }
  }

  // Main ul List
  &__list {
    @include d-flex-column;
    align-items: flex-start;

    &__item {
      list-style: none;
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      @include d-flex-row;
      justify-content: flex-start;

      > span {
        border-radius: 50%;
        background-color: $color-secondary;
        width: 2rem;
        height: 2rem;
        @include d-flex-column;

        > svg {
          font-size: 1.4rem;
          color: $color-white;
        }
      }
    }
  }

  // HERO IMAGE SECTION
  &__img {
    // MAIN IMAGE BOX

    &-box {
      // MAIN HERO IMAGE
      position: relative;
    }

    // Main image
    &--main {
      position: relative;
      z-index: 1;

      @media screen and (max-width: 1460px) {
        width: 100%;
      }
    }

    // Floating Shape
    &__shape {
      position: absolute;

      @include respond(md) {
        width: 20rem;
      }

      // Tomato
      &--02 {
        top: 5%;
        right: -20%;
        transition: transform 1s ease-out;

        @include respond(tab) {
          right: -25%;
        }
        @include respond(phone-lg) {
          right: -10%;
        }
        @include respond(phone) {
          right: -25%;
        }
      }

      // Lattice
      &--03 {
        bottom: 2%;
        left: 0%;
        transition: transform 1s ease-out;

        @include respond(tab-md) {
          left: -2rem;
        }
        @include respond(tab) {
          left: -5rem;
        }
        @include respond(phone-lg) {
          left: -2rem;
        }
        @include respond(phone) {
          left: -5rem;
        }
      }
    }
  }
}

// ----------------------------------------------------------------
// Food Cards Section
// ----------------------------------------------------------------

.section-food-cards {
  padding-inline: $body-padding;
  display: grid;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  margin-block: 10rem;
  margin-top: -5rem;

  @include respond(md) {
    padding-inline: $body-padding-md;
  }
  @include respond(phone) {
    padding-inline: $body-padding-sm;
  }
}

// ----------------------------------------------------------------
// CTA Section
// ----------------------------------------------------------------

.section-cta {
  margin-block: 10rem;
  padding-inline: $body-padding;
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: $color-black--light;
  background-image: url("../../assets/section_cta.jpg");
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  color: $color-white;
  padding-top: 1rem;

  @include respond(md) {
    padding-inline: $body-padding-md;
  }
  @include respond(tab) {
    flex-direction: column;
    padding-top: 4rem;
  }

  &__content {
    flex: 1 1 0;
    > h1 {
      margin-bottom: 3rem;
    }
    // Tab responsive
    @include respond(tab) {
      @include d-flex-column;
      text-align: center;
    }
  }

  &--img {
    position: relative;
    flex: 1 1 0;
    text-align: center;
    > img {
      transform: translateY(10rem);
      @include respond(md) {
        max-width: 100%;
      }

      @include respond(tab) {
        width: 70%;
      }

      @include respond(phone-lg) {
        width: 100%;
      }
      @include respond(phone-sm) {
        transform: translateY(5rem);
      }
    }
  }

  &__shape {
    position: absolute;
    z-index: 1;
    top: 0%;
    left: -25%;
    color: $color-black;
    background-image: url("../../assets/40off_shape.png");
    background-position: center;
    background-size: contain;
    width: 20rem;
    aspect-ratio: 1;
    background-repeat: no-repeat;

    @include respond(tab-md) {
      left: -15%;
    }
    @include respond(tab) {
      left: 0%;
    }
    @include respond(phone-lg) {
      width: 15rem;
      top: 5rem;
      left: -5rem;
    }
    @include respond(phone-sm) {
      width: 10rem;
      top: 0;
    }

    &--text {
      top: 18%;
      left: -5%;
      @include d-flex-column;
      gap: 0;
      position: relative;
      font-size: 4rem;
      font-weight: 800;

      @include respond(phone-lg) {
        font-size: 3rem;
      }
      @include respond(phone-sm) {
        font-size: 2rem;
      }
    }
  }
}

//----------------------------------------------------------------
// About Section
//----------------------------------------------------------------

.section-about {
  @include d-flex-row;
  gap: 2rem;
  padding-block: 10rem;
  padding-inline: $body-padding;
  position: relative;
  justify-content: center;
  overflow: hidden;

  // 1024px media query
  @include respond(md) {
    padding-inline: $body-padding-md;
  }
  @include respond(tab) {
    text-align: center;
  }
  @include respond(phone) {
    padding-inline: $body-padding-sm;
  }

  // Section 1
  &--1 {
    @include respond(tab) {
      flex-direction: column;
    }
  }

  // Section 2
  &--2 {
    flex-direction: row-reverse;
    background-image: url(../../assets/about-burger-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @include respond(tab) {
      flex-direction: column-reverse;
    }
  }

  &__image {
    flex: 1 1 0;
    position: relative;
    margin-left: 5rem;

    @include respond(tab) {
      margin-left: 0;
    }

    > img {
      max-width: 100%;
    }
  }

  // Floating shapes
  &__shape {
    position: absolute;

    @include respond(landscape) {
      width: 15rem;
    }
    @include respond(phone) {
      width: 12rem;
    }
  }
  &__shape-1 {
    z-index: -1;
    top: -3rem;
    left: -7rem;
  }

  &__shape-2 {
    bottom: 5%;
    right: -10rem;
    @include respond(landscape) {
      right: -5rem;
    }
  }
  &__shape-3 {
    bottom: 5%;
    right: -5rem;
  }
  &__shape-4 {
    left: -5rem;
    top: 30%;
  }

  &__content {
    flex: 1 1 0;
    @include d-flex-column;
    gap: 2rem;
    align-items: flex-start;

    @include respond(tab) {
      align-items: center;
    }
  }

  &__heading--primary {
    font-size: 4rem;
  }
  &--2 &__heading--primary {
    font-size: 5rem;
  }

  &__heading--sub {
    font-size: 2rem;
    color: $color-primary;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 150%;
  }

  &--1 &__text {
    margin-right: 10rem;

    @include respond(tab) {
      margin-right: 0;
    }
  }
}

// ----------------------------------------------------------------
// Section Brands
// ----------------------------------------------------------------

.section-brands {
  padding: 10rem $body-padding;
  overflow-x: scroll;
  @include respond(md) {
    padding-inline: $body-padding-md;
  }
  > div {
    @include d-flex-row;
    justify-content: space-evenly;
    gap: 3rem;
  }

  &__image-box {
  }

  &__image {
    width: 10rem;
  }
}
