// HERO SECTION
.hero {
  padding-inline: $body-padding;
  @include grid-2-cols;
  background-color: $header-color;
  padding-top: 5rem;
  padding-bottom: 20rem;
  overflow: hidden;

  // HERO CONTENT BOX
  &__content-box {
    @include d-flex-column;
    align-items: start;
    gap: 3rem;
  }

  // HERO TAG
  &__tag {
    background-color: $color-secondary;
    color: $color-white;
    padding: 0.7rem;
    clip-path: polygon(0 0, 100% 0, 95% 50%, 100% 100%, 0 100%);
    text-transform: capitalize;
    font-size: 1.8rem;
    padding-inline: 2rem;
    padding-right: 4rem;
    //   letter-spacing: 0.1rem;
    font-weight: 500;
  }

  // Main ul List
  &__list {
    @include d-flex-column;
    align-items: flex-start;

    &__item {
      list-style: none;
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      @include d-flex-row;
      justify-content: flex-start;

      > span {
        border-radius: 50%;
        background-color: $color-secondary;
        width: 2rem;
        height: 2rem;
        @include d-flex-column;

        > svg {
          font-size: 1.4rem;
          color: $color-white;
        }
      }
    }
  }

  // HERO IMAGE SECTION
  &__img {
    // MAIN IMAGE BOX
    &-box {
      // MAIN HERO IMAGE
      position: relative;
    }

    // Main image
    &--main {
      position: relative;
      z-index: 1;
    }

    // Floating Shape
    &__shape {
      position: absolute;

      // Tomato
      &--02 {
        top: 5%;
        right: -20%;
        transition: transform 1s ease-out;
      }

      // Lattice
      &--03 {
        bottom: 2%;
        left: 7%;
        transition: transform 1s ease-out;
      }
    }
  }
}

// Food Cards Section

.section-food-cards {
  padding-inline: $body-padding;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-block: 10rem;
  margin-top: -5rem;
}

// CTA Section
.section-cta {
  margin-block: 10rem;
  padding-inline: $body-padding;
  display: flex;
  align-items: center;
  background-color: $color-black--light;
  background-image: url("../../assets/section_cta.jpg");
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  color: $color-white;

  &__content {
    flex: 1 1 0;
    > h1 {
      margin-bottom: 3rem;
    }
  }

  &--img {
    position: relative;
    > img {
      transform: translateY(10rem);
      // margin-bottom: -5rem;
    }
  }

  &__shape {
    position: absolute;
    z-index: 1;
    top: 0%;
    left: -25%;
    color: $color-black;
    background-image: url("../../assets/40off_shape.png");
    background-position: center;
    background-size: contain;
    width: 20rem;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    // display: grid;
    // place-content: center;

    &--text {
      top: 18%;
      left: -5%;
      @include d-flex-column;
      gap: 0;
      position: relative;
      font-size: 4rem;
      font-weight: 800;
    }
  }
}
