// ABSTRACT
@import "./abstract/functions";
@import "./abstract/mixins";
@import "./abstract/variables";

// BASE
@import "./base/base";
@import "./base/animations";
@import "./base/typography";
@import "./base/utilities";

// COMPONENTS
@import "./components/header";
@import "./components/btn";
@import "./components/foodCard";
@import "./components/menu";
@import "./components/menuCard";
@import "./components/footer";

// PAGES
@import "./pages/home";
