*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /**good practice*/
}

html {
  font-size: 62.5%;

  @include respond(landscape) {
    font-size: 52%;
  }
  @include respond(tab-land) {
    font-size: 46%;
  }
  @include respond(phone) {
    font-size: 62.5%;
  }
}

body {
  box-sizing: border-box;
  max-width: 1920px;
  margin-inline: auto;
  font-family: $font-primary;
}
