// Primary Heading
.heading__primary {
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 800;
  font-size: 7rem;
}

// Secondary Heading
.heading__secondary {
  &--main {
    color: $color-secondary;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
  }

  &--sub {
    font-size: 4rem;
    text-transform: capitalize;
  }
}

// Tertiary heading
.heading__tertiary {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.05rem;
}
