// Primary Heading
.heading__primary {
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 800;
  font-size: 7rem;
}

// Tertiary heading
.heading__tertiary {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.05rem;
}
